<div id="content">
  <div class="container">
    <br>
    <button onclick="Home()" 
            type="button" 
            class="btn basic-button" 
            data-toggle="tooltip" 
            data-placement="bottom" 
            title="全台總覽">
      <span class="glyphicon glyphicon-home basic-icon" aria-hidden="true"></span>
    </button> 
    <button onclick="My_pos()" 
            type="button" 
            class="btn basic-button" 
            data-toggle="tooltip" 
            data-placement="bottom" 
            title="我的位置">
      <span class="glyphicon glyphicon-map-marker basic-icon" aria-hidden="true"></span>
    </button>
    <%= link_to coffees_path(format: :xls, params: request.parameters), class: 'btn basic-button', title: '匯出資料', data: {toggle: "tooltip", placement: "bottom"} do %>
      <span class="glyphicon glyphicon-save basic-icon" aria-hidden="true"></span>
    <% end %>
    <hr>
    <h1>尋找鄰近咖啡廳</h1>
    <div>
      <span class="text"> 走路 </span>
      <select class="form-control" id="max-duration" style="width: 65px;">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
      <span class="text">分鐘</span>
      <span class="text">  可達的咖啡廳</span><br><br>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse1">附加條件</a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
              <h4>wifi穩定度</h4>
              <div>
                <label class="radio-inline"><input type="radio" name="wifi" value='1' >1</label>
                <label class="radio-inline"><input type="radio" name="wifi" value='2' >2</label>
                <label class="radio-inline"><input type="radio" name="wifi" value='3' >3</label>
                <label class="radio-inline"><input type="radio" name="wifi" value='4' >4</label>
                <label class="radio-inline"><input type="radio" name="wifi" value='5' >5</label>
              </div>
            </div>
            <div class="panel-footer">
              <h4>座位舒適度</h4>
              <div>
                <label class="radio-inline"><input type="radio" name="seat" value='1'>1</label>
                <label class="radio-inline"><input type="radio" name="seat" value='2'>2</label>
                <label class="radio-inline"><input type="radio" name="seat" value='3'>3</label>
                <label class="radio-inline"><input type="radio" name="seat" value='4'>4</label>
                <label class="radio-inline"><input type="radio" name="seat" value='5'>5</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button id="search-within-time" type="button" class="btn btn-info">走！！</button>
    </div>
    <div id="show-result">
    </div>
  </div>
</div>

<div id="map"></div>
<script type="text/javascript">
  var map;

  var pos;

  var findnum;

  var locations = [];

  var markers = [];

  var marker_id = [];
</script>
