<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeShopProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: lightgrey;">
    <%= yield %>
  </body>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
  <script async defer 
      src="https://maps.googleapis.com/maps/api/js?key=Your API KEY&libraries=places,drawing,geometry&v=3&callback=initMap">
  </script>
</html>

